[submodule "pack/colors/start/froggy"]
	path = pack/colors/start/froggy
	url = https://github.com/alexaandru/froggy
[submodule "pack/plugins/opt/nvim-lspconfig"]
	path = pack/plugins/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule "pack/plugins/opt/nvim-lspupdate"]
	path = pack/plugins/start/nvim-lspupdate
	url = https://github.com/alexaandru/nvim-lspupdate.git
[submodule "pack/plugins/opt/nvim-treesitter"]
	path = pack/plugins/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
[submodule "pack/plugins/opt/nvim-treesitter-context"]
	path = pack/plugins/start/nvim-treesitter-context
	url = https://github.com/romgrk/nvim-treesitter-context.git
[submodule "pack/plugins/opt/nvim-treesitter-textobjects"]
	path = pack/plugins/start/nvim-treesitter-textobjects
	url = https://github.com/nvim-treesitter/nvim-treesitter-textobjects
[submodule "pack/plugins/opt/playground"]
	path = pack/plugins/opt/playground
	url = https://github.com/nvim-treesitter/playground.git
[submodule "pack/plugins/start/site-util"]
	path = pack/plugins/start/site-util
	url = https://github.com/alexaandru/site-util.git
[submodule "pack/plugins/start/autotag"]
	path = pack/plugins/start/autotag
	url = https://github.com/windwp/nvim-ts-autotag
[submodule "pack/plugins/opt/markdown-preview"]
	path = pack/plugins/opt/markdown-preview
	url = https://github.com/iamcco/markdown-preview.nvim
[submodule "pack/plugins/start/pqf"]
	path = pack/plugins/start/pqf
	url = https://gitlab.com/yorickpeterse/nvim-pqf.git
[submodule "pack/plugins/start/nvim-dap"]
	path = pack/plugins/start/nvim-dap
	url = https://github.com/mfussenegger/nvim-dap
[submodule "pack/plugins/start/nvim-dap-go"]
	path = pack/plugins/start/nvim-dap-go
	url = https://github.com/leoluz/nvim-dap-go
[submodule "pack/plugins/start/nvim-dap-virtual-text"]
	path = pack/plugins/start/nvim-dap-virtual-text
	url = https://github.com/theHamsta/nvim-dap-virtual-text
[submodule "pack/plugins/start/nvim-dap-ui"]
	path = pack/plugins/start/nvim-dap-ui
	url = https://github.com/rcarriga/nvim-dap-ui
[submodule "pack/plugins/start/lsp-compl"]
	path = pack/plugins/start/lsp-compl
	url = git@github.com:alexaandru/nvim-lsp-compl-fnl.git
[submodule "pack/plugins/opt/fennel"]
	path = pack/plugins/opt/fennel
	url = git@github.com:alexaandru/fennel-nvim.git
